body{
  background-color: black;
  color: yellow;
  background-image: url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0729/2979/pizza_pattern2_shop_preview.png");
  background-blend-mode: hard-light;
  font-family: 'Lobster';
}

.jumbotron{
  text-align: center;
  background-color: black;
  background-image: url("https://image.shutterstock.com/image-photo/tasty-pepperoni-pizza-cooking-ingredients-260nw-1114907849.jpg");
  margin-bottom: 0;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron h1{
  font-size: 70px;
}

.pizza-word{
  color:red;
}

.navigation ul{
  background-color: yellow;
  overflow: hidden;
  border-radius: 5px; 
  font-weight: bolder;
  margin: 0;
}

.navigation li{
  color: black; 
  width:30%;
  text-align: center;
  float: left;
  list-style-type: none;
}

.navigation a{
  text-decoration: none;
  display: block;
  padding: 3%;
  color: red;
  border-radius: 5px;
}

.navigation a:hover{
  background-color: red;
  color: yellow;
}

.pizza-display{
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2%;
}

.pizza-display-image-main{
  width: 100%;
  height: 300px;
  margin: 1%;
  object-fit: cover;
}

.pizza-display-image{
  width: 100%;
  height: 200px;
  margin: 20% 0 20% 0;
  object-fit: cover;
  
}

.menu{
  background-color: rgba(255, 0, 0, 0.4);
  text-align: center;
  font-weight: bolder;  
}

.menu-intro{
  background-color: rgba(255, 255, 0, 0.8);
  color: whitesmoke;
  margin: 0 20% 2% 20%;
  padding: 1%;
  border-radius: 10px;
  font-weight: bold;
}

.pizza-menu{
  font-family: 'Josefin Sans';
}

.pizza-sections{
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1%;
  font-family: 'Lobster';
}

.menu-images{
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

.pizza-names{
  padding: 2%;
  border-bottom: whitesmoke 2px solid;
  border-top: whitesmoke 2px solid;
  margin: 2% 0 2% 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}