body{
  background-color: black;
  color: whitesmoke;
  background-image: url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0729/2979/pizza_pattern2_shop_preview.png");
  background-blend-mode: hard-light;
}

.jumbotron{
  color: yellow;
  text-align: center;
  background-color: black;
  background-image: url("https://image.shutterstock.com/image-photo/tasty-pepperoni-pizza-cooking-ingredients-260nw-1114907849.jpg");
  margin-bottom: 0;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: bolder;
}

.pizza-word{
  color:red;
}

.pizza-display{
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2%;
}

.pizza-display-image{
  width: 100%;
  height: 300px;
  margin: 1%;
  object-fit: cover;
}

.navigation ul{
  background-color: yellow;
  overflow: hidden;
  border-radius: 5px; 
  font-weight: bolder;
  margin: 0;
}

.navigation li{
  color: black; 
  width:30%;
  text-align: center;
  float: left;
  margin: 2px;
  list-style-type: none;
}

.navigation a{
  text-decoration: none;
  display: block;
  padding: 3%;
  color: red;
  border-radius: 5px;
}

.navigation a:hover{
  color: yellow;  
  background-color: red;
}